@model ActivityDetailsViewModel

<h2>@Model.ActivityName with @Model.TrainerName</h2>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h4 class="mt-6">About the training:</h4>
        <div class="row">
            <div class="col-sm-4" .container-fluid="100" font-size="1.15rem">
                <p class="overflow-wrap">@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
      
  <div class="row">
    <div class="col-auto">
      <h5 class="mt-6">Intensity:</h5>
     </div>
     <div class="col" font-size="1.25rem">
      <p >@Model.Intensity</p>
    </div>
  </div>
</div>
    </div>

<div class="col-sm-12">
    <div class="row">
        <div class="col-auto">
            <h5 class="mt-6">Suitable for:</h5>
        </div>
        <div class="col">
            <p class="text-lg">@Model.TraineeLevel trainees</p>
        </div>
    </div>
</div>

<h3>Book your place here</h3>
<table class="table table-hover">
    <thead>
        <tr>
           
            <th scope="col">Date</th>
            <th scope="col">Start Hour</th>
            <th scope="col">End Hour</th>
            <th scope="col">Day</th>
            <th scope="col">Remaining spots</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Schedules)
        {
            <tr>
                <td>@item.Date.ToString("dd/MM/yyyy")</td>
                <td>@item.StartHour.ToString("HH:mm")</td>
                <td>@item.EndHour.ToString("HH:mm")</td>
                <td>@item.DayOfWeek</td>
                <td>@item.RemainingSpots</td>
                <td><button class="btn btn-primary" asp-route-id="@item.Id">Enroll</button></td>
            </tr>
        }
    </tbody>
</table>








