@{
    ViewData["Title"] = "Activity Details";
}
@model ActivityDetailsViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserService UserService


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<h2>@Model.ActivityName with @Model.TrainerName</h2>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h4 class="mt-6">About the training:</h4>
        <div class="row">
            <div class="col-sm-4" .container-fluid="100" font-size="1.15rem">
                <p class="overflow-wrap">@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12">

        <div class="row">
            <div class="col-auto">
                <h5 class="mt-6">Intensity:</h5>
            </div>
            <div class="col" font-size="1.25rem">
                <p>@Model.Intensity</p>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="row">
        <div class="col-auto">
            <h5 class="mt-6">Suitable for:</h5>
        </div>
        <div class="col">
            <p class="text-lg">@Model.TraineeLevel trainees</p>
        </div>
    </div>
</div>

<h3>Book your place here</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Start Hour</th>
            <th scope="col">End Hour</th>
            <th scope="col">Day</th>
            <th scope="col">Remaining spots</th>
            <th scope="col" id="options">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Schedules)
        {
            <tr>
                <td>@item.Date.ToString("dd/MM/yyyy")</td>
                <td>@item.StartHour.ToString("HH:mm")</td>
                <td>@item.EndHour.ToString("HH:mm")</td>
                <td>@item.DayOfWeek</td>
                <td>@item.RemainingSpots</td>

                @if (SignInManager.IsSignedIn(User))
                {
                    var user = await UserManager.GetUserAsync(User);
                    var isTrainer = await UserService.GetTrainerAsync(user.Id);

                    if (isTrainer != null)
                    {
                        //If user is Trainer should not be able to book spots for training.
                        <td><button type="button" class="btn btn-primary" disabled>Only Trainees can Enroll</button></td>
                    }
                    else
                    {
                        //If user is Trainee can book a spot for training
                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-@item.Id">Enroll</button></td>
                    }

                }
                else
                {
                    <td><a asp-area="" asp-controller="User" asp-action="Login" class="btn btn-primary">Log in to enroll</a></td>
                }
            </tr>


        }
    </tbody>
</table>

@*Display confirmation window for every table row*@
@foreach (var item in Model.Schedules)
{
    <div class="modal fade" id="exampleModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm enrollment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to enroll for @Model.ActivityName with trainer @Model.TrainerName on @item.Date.ToString("dd/MM/yyyy") (@item.DayOfWeek)
                    from @item.StartHour.ToString("HH:mm") to @item.EndHour.ToString("HH:mm")?
                </div>
                <form method="post" asp-controller="GroupActivity" asp-action="EnrollForActivtiy" asp-route-id="@item.Id">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Enroll</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}








