@{
    ViewData["Title"] = "Group Activities"; 
}

@model ICollection<AllActivitiesViewModel>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserService UserService

<h2 class="text-center mt-4">Group activities in our gym</h2>
<br />
<h4 class="text-center">If you want to book a spot for practice, click on <br /> Book your place button</h4>
<br />
<div class="row">
@foreach (var activity in Model)
{
     <div class="col-md-4">
    <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@activity.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Trainer: @activity.TrainerName</h6>
            <h6 class="card-subtitle mb-2 text-muted">Level: @activity.TraineeLevel</h6>
            <h6 class="card-subtitle mb-2 text-muted">Intensity: @activity.Intensity</h6>
            @if (SignInManager.IsSignedIn(User))
            {
                var user = await UserManager.GetUserAsync(User);
                var isUserTrainee = await UserService.GetTraineeAsync(user.Id);

                if (isUserTrainee != null)
                {
                    <form method="post">
                        <a class="btn btn-primary mr-2" asp-area="" asp-action="ActivityDetails" asp-controller="GroupActivity" asp-route-id="@activity.Id">Book your place</a>
                    </form>
                }
                else
                {
                    <form method="post">
                        <a class="btn btn-primary mr-2" asp-area="" asp-action="ActivityDetails" asp-controller="GroupActivity" asp-route-id="@activity.Id">Activity Details</a>
                    </form>
                }
            }
            else
            {
                <form method="post">
                    <a class="btn btn-primary mr-2" asp-area="" asp-action="ActivityDetails" asp-controller="GroupActivity" asp-route-id="@activity.Id">Activity Details</a>
                </form>
            }
            <a href="/Trainer/TrainerDetails/@activity.TrainerId" class="btn btn-primary">About the Trainer</a>
        </div>
    </div>
    </div>
}
</div>
