@model MoreInfoTrainerViewModel

<form method="post" asp-area="" asp-controller="User" asp-action="AddTrainer">
    <div class="row">
    </div>
    <div class="mb-3 col-md-7">
        <label asp-for="Experience" class="form-label">Professional Experience</label>
        <input asp-for="Experience" class="form-control">@*
        <span asp-validation-for="@Model.Experience" class="text-danger"></span>*@
    </div>
    <label asp-for="Bio" class="form-label">Bio</label>
    <div class="form-floating col-md-7">
        <textarea asp-for="Bio" class="form-control" placeholder="Write a little bit about yourself!" id="floatingTextarea2"></textarea>
        <label for="floatingTextarea2" class="fst-italic text-muted">Introduce yourself to the trainees...</label>
       
    </div>
    <div class="mb-3 col-md-7">
        <label asp-for="Certificate" class="form-label">Certificate</label>
        <div class="mb-3 col-md-7">
            <label asp-for="@Model.Certificate.Name" class="form-label">Certificate Name</label>
            <input asp-for="@Model.Certificate.Name" class="form-control">
        </div>
        <div class="mb-3 col-md-7">
            <label asp-for="@Model.Certificate.IssueDate" class="form-label">Issue Date</label>
            <input type="date" asp-for="@Model.Certificate.IssueDate" class="form-control">
        </div>
        <div class="mb-3 col-md-7">
            <label asp-for="@Model.Certificate.IssuingOrganization" class="form-label">Issued By:</label>
            <input type="date" asp-for="@Model.Certificate.IssueDate" class="form-control">
        </div>
    </div>
    
    <button type="submit" id="trainerSubmitBtn" class="btn btn-primary">Submit</button>
</form>
